/* ============================================================
   PIXELFORGE — style.css 
============================================================= */

:root {                                  /* :root = variabla globale, të përdorshme kudo në skedar */
  --bg: #1b1b1e;                          /* sfondi kryesor i faqes */
  --bg-alt: #27262a;                       /* sfond pak më i errët për seksione "alt" */
  --surface: #3a3a3f;                       /* sfondi i kartave/navbar/formularit */
  --text: #a7a7a7;                           /* ngjyra kryesore e tekstit */
  --text-muted: #cbcbcf;                      /* gri për tekst dytësor */
  --border: #370f873d;                           /* ngjyra e vijave/kufijve */
  --accent: #6C5CE7;                            /* ngjyra kryesore e markës (vjollcë) */
  --accent-dark: #5546D6;                        /* version më i errët, për hover të butonave */
  --radius: 12px;                                 /* rrumbullakimi standard i qosheve */
}

* { 
  margin: 0; padding: 0; box-sizing: border-box;  /* hiq hapësirat default; width/height përfshijnë padding+border */
 }  

html {
  scroll-behavior: smooth; /* scroll i but kur klikohen linqe apo seksione*/
}

body {
  font-family: 'Inter', sans-serif; /*fonti i tekstit*/
  background:var(--bg); 
  color:var(--text);
  line-height: 1.6;  /*hapsir mes rreshtave, qe  e ben teksin me te lexushem*/
}

.container{
  max-width: 1140px;   /*gjersia max ne ekrane te medha*/
  margin:0 auto;   /*hapsira lart-posht esht 0 ndersa majtas/djathtas esht auto*/
  padding:0 24px;  /* hapsira anesore*/
}

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;

}

h2{
  font-size: 34px;
  margin-bottom:36px;
}

h3{
  font-size:20px;
  margin-bottom:8px;
}